---
title: Le Wagon - Middleman
---

<%= partial "layouts/banner" %>

<div class="container home-flats">
  <h3 class= "text-center">Recent Flats</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/kreuzberg_flat.jpg');">
        <div class="card-category">Berlin, Germany</div>
        <div class="card-description">
          <h2>Someone's home</h2>
          <p>Charming room in Kreuzberg</p>
        </div>
        <img class="card-user avatar" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/paris_flat.jpg');">
        <div class="card-category">Paris, France</div>
        <div class="card-description">
          <h2>Someone's home</h2>
          <p>Small flat in Montmartre</p>
        </div>
        <img class="card-user avatar" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/london_flat.jpeg');">
        <div class="card-category">London, Uk</div>
        <div class="card-description">
          <h2>Someone's home</h2>
          <p>Nice flat in Picadilly</p>
        </div>
        <img class="card-user avatar" src="user.jpg">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>



